[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = ">=2021.1"
termcolor = ">=1.1.0"
PyYAML = ">=5.4.1"

[dev-packages]
black = "==21.7b0"
flake8 = ">=3.9.2"

[requires]
python_version = "3.8"

[scripts]
test = 'python -m unittest discover -s tests -p "ut_*.py"'
